@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&family=Raleway:ital,wght@0,400;0,600;0,900;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Raleway:ital,wght@0,400;0,600;0,900;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,900;1,500;1,900&family=Roboto+Mono:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-temp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.table1 {
  width: 1000px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button{
  width: 80px;
  padding: 8px;
  background-color: rgb(243, 78, 78);
  border: none;
  color: whitesmoke;
  border-radius: 10%;
}

.landingpage{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}

.video{
  width: 100%;
  height: 1080px;
}

.metazord {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  width: 100px;
  height: 100px;
}

.metazord span{
  font-family: 'Annie Use Your Telescope', cursive;
  font-weight: 700;
  font-size: 40px;
}

/* .home{
  background-image: url('./assets/Logo.png');
  background-size: cover;
  /* background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
} */

.carousel{
  width: 1280px;
  height: 720px;
}

.Tech{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  /* text-decoration: underline; */
}
.Tech-content{
  width: 100vw;
  height: 100vh;
  padding: 60px;
  font-family: 'Poppins', sans-serif;
  /* margin-bottom: 20px; */
}

.top {
  margin-top: 20px;
}

.roboto-mono{
  font-family: 'Roboto Mono', monospace;
}

